// start .sPersonalData
.sPersonalData {

	padding-bottom: rem(50);
	@include media-breakpoint-up(lg){
		padding-bottom: rem(286);
	}
	&__row{

	}

	//individual-col
	&__individual-col{
		padding-bottom: rem(50px);
		@include media-breakpoint-up(lg){
			padding-bottom: 0;
		}

		.sPersonalData__col-headline{
			margin-bottom: rem(16);
		}
	}
	&__col-headline{
		font-family: $mono;
		font-size: rem(30px);
		line-height: rem(41px);

		letter-spacing: 0.06em;
		color: $black;
		margin-bottom: 0;
	}
	&__individual-box{

		@include media-breakpoint-up(sm){
			display: flex;
		}
	}

	&__left-col{
		margin-bottom: 30px;
		width: 100%;
		@include media-breakpoint-up(sm) {
			margin-bottom: 0;
			width: rem(376);
			max-width: calc(60% - 12px);
		}
		@include media-breakpoint-up(xl){
			max-width: calc(50% - 15px);
		}

		margin-right: rem(31);
	}
	&__right-col{
		width: 100%;
		@include media-breakpoint-up(sm){
			width: rem(376);
			max-width: calc(40% - 12px);
		}
		@include media-breakpoint-up(xl){
			max-width: calc(50% - 15px);
		}

	}

	//entity-col

	&__entity-col{
		.sPersonalData__col-headline{
			margin-bottom: rem(41);
		}

	}

	//add entity
	&__add-entity-bnt{
		@extend .plus-btn-frame;

		margin-bottom: rem(25);
		@include media-breakpoint-up(xxl){
			margin-left: 12px;
		}
	}

	&__after-txt-cont{
		max-width: 370px;
		p{
			font-size: rem(14px);
			line-height: rem(20px);
			letter-spacing: 0.03em;

		}
	}


	//has entity
	&__entity-item-block{
		max-width: 100%;

		@include media-breakpoint-up(md){
			width: rem(513);
		}
		border: 1px solid #8BB710;
		padding: rem(17px) rem(25px) rem(24) rem(25px);
	}
	//header
	&__entity-item-header{
		@include media-breakpoint-up(sm){
			display: flex;
			align-items: center;
		}

		padding-bottom: rem(16);
	}
	&__entity-item-name{
		width: auto;

		padding-bottom: rem(15);
		@include media-breakpoint-up(sm){
			padding-bottom: 0;
		}

		//txt
		font-weight: 600;
		font-size: rem(20px);
		line-height: 1.5;
	}
	&__entity-item-code{
		@include media-breakpoint-up(sm) {
			margin-left: auto;
			flex-shrink: 0;
			padding-left: 15px;
			max-width: 50%;
		}

		//txt
		font-size: rem(16px);
		line-height: rem(24px);
		opacity: 0.5;
	}
	//list
	&__entity-item-list{
		list-style: none;
		padding: 0 0 12px 0;
		margin: 0;

		li{
			padding-bottom: rem(4px);

			font-size: rem(16px);
			line-height: rem(24px);
			opacity: 0.5;
		}
	}
	//footer
	&__entity-item-footer{
		@include media-breakpoint-up(sm){
			display: flex;
			align-items: center;
		}
		.green-link{
			display: block;

			padding-bottom: rem(15);
			@include media-breakpoint-up(sm){
				padding-bottom: 0;
			}

			font-size: rem(16px);
			line-height: rem(24px);
			color: #015F38;
		}
		.link-pink{

			@include media-breakpoint-up(sm){
				margin-left: auto;
			}
			display: block;

			font-size: rem(16px);
			line-height: (24/16);
		}
	}
	&__{}
	&__{}
	&__{}
	&__{}
	&__{}
	&__{}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-up(xs) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(xs) {}
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}
	@include media-breakpoint-down(xs) {} 

} // end.sPersonalData

//page header PersonalA
.personalA-page-head{
	padding-top: 15px;
	@include media-breakpoint-up(md){
		padding-top: rem(40px);
	}

	//headline and discount strip
	&__header-row{
		& > *{
			@include media-breakpoint-up(xxl){
				padding-left: 25px;
			}
		}

		@include media-breakpoint-up(md){
			padding-bottom: 42px;
		}
	}

	&__headline-col{
		padding-bottom: 20px;
		@include media-breakpoint-up(lg){
			padding-bottom: 0px;
		}
		h1{

			margin-left: 10px;
			@include media-breakpoint-up(sm){
				margin-left: 0px;
			}

			@extend .h2;
			font-family: $font-family-code;
			position: relative;
			letter-spacing: 0.06em;

			&::before {
				content: '';
				display: inline-block;
				height: rem(42px);
				border-left: 3px solid $primary;
				left: 0;
				top: em(3);
				position: relative;
				transform: rotate(calc(-1 * var(--angle)));
				margin-right: rem(30);
			}

		}
	}
	//
	&__discount-col{

	}
	&__your-discount-cont{
		display: flex;
		align-items: center;
		height: 40px;
		position: relative;

		width: 100vw;
		left: calc(-1 * (100vw - 100%) / 2);
		@include media-breakpoint-up(sm){
			left: unset;
			width: 512px;
			max-width: 100%;
		}

		padding: 10px 3px 10px 22px;
		margin-bottom: rem(13);

		&:before{
			content: '';
			position: absolute;
			z-index: -1;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: linear-gradient(92.31deg, #8BB710 2.3%, #d8e7af 99.03%);

			@include media-breakpoint-up(sm){
				background: linear-gradient(92.31deg, #8BB710 2.3%, rgba(139, 183, 16, 0) 99.03%);
				transform: skew(calc(1 * var(--angle)));
			}
			//d8e7af

		}
	}
	&__white-txt{
		white-space: nowrap;
		font-weight: 600;
		color: $white;

		font-size: 16px;
		margin-right: 20px;
		@include media-breakpoint-up(sm){
			font-size: rem(20px);
			margin-right: rem(57px);
		}
		line-height: 1.5;


	}
	&__black-txt{
		font-family: $default-font;

		margin-left: auto;
		margin-right: 10px;
		max-width: 130px;
		font-size: 12px;
		line-height: 14px;
		@include media-breakpoint-up(sm){
			white-space: nowrap;
			margin-left: 0;
			margin-right: 0;
			max-width: 100%;
			font-size: rem(12px);
			line-height: rem(30px);
		}
		letter-spacing: 0.03em;
		color: #4D4D4D;
	}
	&__learn-more-link{
		display: none;
		@include media-breakpoint-up(md){
			display: block;
		}
		padding-left: rem(22px);

		font-weight: 600;
		font-size: rem(14px);
		line-height: rem(20px);
		letter-spacing: 0.03em;
		color: $green3;
	}
	//pa-nav-links

	&__pa-nav-slider{
		position: relative;

		margin-bottom: 25px;
		@include media-breakpoint-up(md){
			margin-bottom: 57px;
		}
		.swiper-container{
			@include media-breakpoint-down(sm){
				overflow: visible !important;
			}
		}
		.swiper-slide{
			width: auto;
		}
	}
	&__nav-link{
		align-items: center;
		font-weight: 600;
		color: #4D4D4D;
		@include mt();

		font-size: 16px;
		line-height: 25px;


		display: flex;
		justify-content: center;
		@include media-breakpoint-up(md){
			font-size: rem(19px);
			line-height: rem(30px);

			width: auto;
			display: inline-flex;
			justify-content: flex-start;
			//align-items: center;
		}

		&:hover{
			color: $primary;
		}
		&.active{
			color: $primary;
			padding-left: 10px;
			&:before, &:after{
				content: '';
				display: inline-block;
				height: rem(32px);
				border-left: 3px solid $primary;
				left: 0;
				top: em(3);
				position: relative;
				transform: rotate(calc(-1 * var(--angle)));
			}
			&:before{
				margin-right: rem(21px);
			}
			&:after{
				margin-left: rem(13px);
			}
		}
	}

	&__{}
	&__{}
	&__{}
	&__{}
	&__{}
	&__{}
	&__{}
}

//form-wrap

.form-wrap{

	&__input-wrap{
		margin-bottom: 14px;
		label{

		}
	}
	&__title{
		display: block;
		margin-bottom: rem(10);

		font-size: rem(12px);
		line-height: (14/12);
		letter-spacing: 0.03em;
	}
	&__input{
		height: rem(48);
		line-height: rem(48);
	}

	&__save-cahnges-btn{
		@extend .btn;
		@extend .btn-accent;
		@extend .btn-muted;

		min-width: rem(212px);
		margin-top: rem(10);
	}
	&__change-pass-btn{
		@extend .btn;
		@extend .btn-accent;

		min-width: rem(212px);
		margin-top: rem(10);
	}
}