
mixin modal() 
  
	.d-none
		+form-wrap()(id="modal-user" class="  modal-win modal-form" )
			+e.body
				+e.title-head Личный кабинет
				+input("Логин")(required) 
				+input("Пароль")(required)
				.row.align-items-center
					.col
						+e.INPUT.btn(type="submit" value="Войти") 
					.col-auto
						a.link-pink.small(href="#") Забыли пароль?
			+e.footer
				.small Еще нет аккаунта? #[a.link-pink(href="#") Зарегистрируйтесь]
		// #modal-user
		
		+form-wrap()(id="modal-addData" class="  modal-win modal-form" )
			+e.body
				+e.title-head Добавить юр.лицо
				+input("",'text','Наименование компании')(required) 
				+input("",'text','ИНН')(required) 
				+input("",'text','Юридический адрес с почтовым индексом')(required) 
				+input("",'text','БИК банка плательщика')(required) 
				+input("",'text','Номер расчётного счета')(required) 
				 
				.row.align-items-center
					.col-7
						+e.INPUT.btn.btn-block(type="submit" value="Добавить")
		// #modal-addData
		
		+form-wrap()(id="modal-addEvent" class="  modal-win modal-form" )
			+e.body
				+e.title-head Добавить событие
				.smallest Дата
				.h4.fw-600.mb-2 6 июня
				+input("",'text','Кому дарим букет')(required) 
				+input("",'text','Опишите предпочтения в букете')(required) 
				.smallest.mb-3 Это может быть как описание размера букета, типа цветов и цветового преобладания (например ярко красный)
				.row.align-items-center
					.col-7
						+e.INPUT.btn.btn-block(type="submit" value="Добавить") 
		// #modal-addEvent

		+form-wrap()(id="modal-addAddr" class="  modal-win modal-form" )
			+e.body
				+e.title-head Добавить адрес
				+input("",'text','ФИО Получателя')
				+input("",'text','Город')
				+input("",'text','Улица')
				.row
					.col-4
						+input("",'text','Дом')
		 
					.col-4
						+input("",'text','Корпус')
		 
					.col-4
						+input("",'text','Кв./офис')
		 
					.col-4
						+input("",'text','Подъезд')
		 
					.col-4
						+input("",'text','Домофон')
		 
				.row.align-items-center
					.col-7
						+e.INPUT.btn.btn-block(type="submit" value="Добавить") 
		// #modal-addAddr


		+form-wrap()(id="modal-basket" class=" modal-win modal-form modal-basket" )
			+b.s-basket
				+e.title.h3 Товар добавлен в корзину
				+e.row.row
					.col-lg-9
						+e.item
							.table-wrap
								table
									tr
										td
											+e.product(href="#")
												+e.imgWrap
													img.res-i.lazy(src="#" data-src="img/@1x/basket.jpg", alt="")
												+e.textWrap
													p КРЕМОВЫЙ БУКЕТ "ШОКОЛАДНЫЙ МИШКА"
													+e.size L (45 см)
										td
											+e.quantityWrap
												span Кол-во
												+e.quantity
													+e.BUTTON.minus(type="button")
													input(type="numb" value="2")
													+e.BUTTON.plus(type="button")
											+e.price
												span Цена
												.h5 12 300 р.
											+e.price--total
												span Сумма
												.h5 24 600 р.
					.col
						+e.buttonsWrap
							+e.next.btn.btn-accent(href="#") Оформить заказ
							+e.back.btn.fancybox-close-small.fancybox-button(data-fancybox-close type="button") Продолжить покупки
			+sCatalog-checkout-modal()


	// modal
	//-a.link-modal(href="#modal-addEvent") modal-addEvent