html {
	-webkit-font-smoothing: antialiased;
	-webkit-overflow-scrolling: touch;
}

.pixel-perfect {
	top: 0;
	@include a-cent(x);
	display: block;
	pointer-events: none;
	z-index: 1000;
	overflow: hidden;
	width: 100%;
	height: 100%;
	background-position: center 5px;
	opacity: 0;
	opacity: 0.7;
}
h1,.h1,
h2,.h2,
h3,.h3,
h4,.h4,
h5,.h5,
h6,.h6{
	letter-spacing: 0.06em;
}
body,
html {
	letter-spacing: 0.03em;
	@include media-breakpoint-up(xxl){

		font-size: $em-base;
	}
 

	font-size: 14px;
	// @include font-size(1rem);
}


.section {
	@include bgs; 
	padding-top: var(--sPT);
	padding-bottom: var(--sPB);
}
.page-head{
	padding-top: rem(40);
	padding-bottom: rem(40);
	.s-filter__btn{
		outline: none;
	}
	.s-filter__btn{
		&::before,
		&::after{
			display: none;
		}
		.icon{
			font-size: rem(24);
		}
	}
	h1{
		@extend .h2;
		font-family: $font-family-code;
		position: relative;
		letter-spacing: 0.06em;

		&::before {
			content: '';
			display: inline-block;
			height: rem(42px);
			border-left: 3px solid $primary;
			left: 0;
			top: em(3);
			position: relative;
			transform: rotate(calc(-1 * var(--angle)));
			margin-right: rem(30);
		}
	}
}
.section-title { 
	padding-bottom: var(--sTPB);
	.h5{

		strong{
			color: $green2;
		}
	}
	.h3{

		font-family: $font-family-code;
	}
	h2{
		font-family: $font-family-code;
		position: relative;
		letter-spacing: 0.06em;
		&::before{
			content: '';
			display: inline-block;
			height: rem(42px);
			border-left: 3px solid $primary;
			left: 0;
			top: em(3);
			position: relative;
			transform: rotate(calc(-1 * var(--angle)));
			margin-right: rem(30);
		}
	}
}

body {
	min-width: 320px;
	position: relative;

	&::before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		@include mt;
		background-color: #000000;
		opacity: 0;
		z-index: -1;
		top: 0;
	}

	&.fixed {
		overflow: hidden;
		position: absolute;
		width: 100%;
		left: 0;
		top: 0;
		z-index: 999;

		&::before {
			z-index: 999;
			opacity: 0.76;
		}
	}
}

.mono {
	font-family: $font-family-monospace;
}

.small {
	font-size: $small;
}

.tdn {
	text-decoration: none !important;
}

.ttu {
	text-transform: uppercase;
}

.tdu {
	text-decoration: underline;

	&:hover {
		text-decoration: none;
	}
}

.ttu {
	text-transform: uppercase;
}

.fw-300 {
	font-weight: 300;
}

.fw-500 {
	font-weight: 500;
}

.fw-900 {
	font-weight: 900;
}

.row--small {
	@include roww(10)
}


.main-wrapper {
	position: relative;
	overflow: hidden;
	min-height: 100vh;
	min-height: calc(var(--vh, 1vh) * 100);
}

.slick-slide img {
	display: inline
}

.image-source-link {
	color: #98C3D1;
}

.slick-slide {
	outline: 0 !important;
}

.slick-arrow {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 2;
	cursor: pointer;

	i {
		line-height: 1;

	}

	cursor: pointer;

	&.l {
		left: 0;

		svg {
			@include transform(rotateY(180deg));
		}
	}

	&.r {
		right: 0;

	}

	svg {
		width: 17px;
		height: auto;
	}
}


.strong {
	font-weight: bold;
}

ul {
	padding-left: 0;
}

.res-i {
	max-width: 100%;
	// width: auto;
	height: auto;
}

.img-bg {
	@include img-bg();
}

.bgs {
	@include bgs();
}

.table {
	display: table
}

.tr {
	display: table-row
}

.td {
	display: table-cell
}


.tabs {
	&__btn {
		&:hover {
			cursor: pointer;
		}

		&.active {}

	}

	&__content {
		&.active {
			display: block;
		}

		display: none;
	}
}


// select.form-control {
// 	background-image: url(../img/svg/chevron-up.svg);
// 	background-repeat: no-repeat;
// 	background-position: calc(100%  - 20px) 50%; // background-size: rem(18) ;
// 	padding-right: rem(43px);
// 	appearance: none !important;

// 	&:not([size]):not([multiple]) {
// 		height: $input-height;
// 	}

// 	&:focus::-ms-value {

// 	}
// }


input[type='number'] {
	-moz-appearance: textfield;
}

select::-ms-expand {
	display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	/* display: none; <- Crashes Chrome on hover */
	-webkit-appearance: none;
	margin: 0;
	/* <-- Apparently some margin are still there even though it's hidden */
}


.invisible {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}



.control-wrap {
	position: relative;
}

.swiper-button-hand {
	
	width: var(--sw-w);
	height: var(--sw-h);
	@include bgs;
	z-index: 300;
	outline: none !important;
	// margin-bottom: 0;
	background-image: none;
	
	 clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
	 background-color: #ffffff;
	 background-image: linear-gradient(104.35deg, #97BF0D 0%, #007242 33.69%, #8BB710 67.84%, #5CBF1A 98.79%);
	 background-position: 0 center;
	 background-size: 0 0;
	 @include mt;
	 &:hover{
		 &::after{
			 
			 color: #ffffff;
			}
			background-size: 100% 100%;
		}
		&::after{
			color: $body-color;
			transform: rotateY(52deg);
			font-weight: bold;
			//  display: none !important;
		}
		&-next {
			background-position: 100% center;
		 // background-image: url(../img/arr-right.png);
		 right: 0;
		 
		  &::after {
		  	margin-left: rem(20);
		  }
		}
		
		&-prev {
		
		left: 0;
		 &::after {
			 margin-right: rem(20);
		 }
		// background-image: url(../img/arr-left.png);

	}

}

.swiper-pagination {
	// width: 100%;
	right: 0;
	bottom: 0;
	text-align: center;
	z-index: 10;

	&-bullet {
		opacity: 1;
		width: $h2-font-size;
		height: 5px;
		background-color: #f2f2f2;
		outline: none !important;
		@include mt;
		margin-left: rem(16); 
		border-radius: 0;

		&-active,
		&:hover {
			background-color: $primary;
		}
	}
}




@include media-breakpoint-up(lg) {
	.wow {
		visibility: hidden;
	}
}


picture {
	display: block;

	// display: flex;
	// width: 100%;
	// height: 100%;
	img {
		@extend .res-i;
	}

	img.object-fit-js {
		height: 100%;
		width: 100%;
		// max-width: 100%;
		display: block;
		object-fit: cover;
	}
}

img.img-bg,
.object-fit-js img {
	object-fit: cover;
	// object-position: top;
	font-family: 'object-fit: cover; object-position: top;';
}


a {
	@include mt;
}

img.img-bg,
.picture-bg {
	position: absolute;
	z-index: -1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}


.bg-wrap {
	position: relative;
	z-index: 2;
}

// .pagination-wrapper li

.browsehappy {
	position: absolute;
	width: 100%;
	z-index: 1000;
	background: #000;
	min-height: 100px;
	font-size: 20px;
	color: #ffffff;
}

iframe {
	border: none;
}
.btn{
	letter-spacing: 0.03em;

}
.btn-accent{
	@include mt();

	background-color: #97BF0D;
	background-image: linear-gradient(104.35deg, #97BF0D 0%, #007242 33.69%, #8BB710 67.84%, #5CBF1A 98.79%);
	// color: #ffffff;
	color: #ffffff !important;
	background-size: 100% 110%;
	background-position: 0 center;
	&:hover{
		background-size: 300% 200%;
		// background-position: 100% center;
		// background: #000;
	}
}

.btn-muted{
	opacity: .2;
	pointer-events: none;
}

.soc-link{
	color: $body-color;
	.icon{

		font-size: 16px;
	}
	text-align: center;
}
button,
input,
a,
* {
	outline-color: rgba($color: $primary, $alpha: .5);
}
.container .container{
	padding-left: 0;
	padding-right: 0;
}

.smallest{
	font-size: 12px;
}

.link-pink{
	color: $pink !important;
}


.head-banner{
	z-index: -1;
	position: relative;
	picture{
		@include media-breakpoint-up(xl){

			height: rem(465);
		}
		@include media-breakpoint-up(md) {
			margin-right: rem(370);
			height: rem(365);

		}
		margin-right: rem(30);
		height: rem(265);
		img{
			@extend .object-fit-js;
			object-position: right;
			width: inherit;
		 
		}
		position: relative;
		&::before{
			content: '';
			background-image: url(../img/svg/lines-head.svg);
			height: 110%;
			width: rem(400);
			background-size: contain;
			background-repeat: no-repeat;
			background-position: left center;
			position: absolute;
			// z-index: -1;
			// left: 100%;
			left: 100%;
			// margin-left: -90px;
		}
	}
 
}

//plus btn frame
.plus-btn-frame{
	height: rem(45);
	display: inline-flex;

	.plus-cont{
		position: relative;
		//display: flex;
		width: rem(51);
		line-height: rem(45);
		text-align: center;

		//txt
		font-family: $mono;
		font-size: rem(30px);
		color: $white;
		margin-right: 5px;

		//bg
		&:before{
			z-index: -1;
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			transform: skew(calc(1 * var(--angle)));
			width: 100%;
			height: 100%;

			background: linear-gradient(92.3deg, #8BB710 17.69%, rgba(139, 183, 16, 0) 762.01%);
		}
	}
	.add-txt{
		position: relative;
		//width: rem(257);
		line-height: rem(45);
		text-align: left;
		padding: 0 25px 0 25px;

		//txt
		font-weight: 600;
		font-size: rem(20px);
		color: #4D4D4D;


		&:before{
			z-index: -1;
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			transform: skew(calc(1 * var(--angle)));
			width: 100%;
			height: 100%;

			border: 1px solid #8BB710;
		}

	}
}