mixin sBest()
	// start sBest
	+b.SECTION.sBest.section#sBest&attributes(attributes) 
		+b.section-title
			h2 На&nbsp;этой неделе он&nbsp;лучший!
			.h5 Поэтому ловите #[strong скидку], осталось 3 дня... 
		+prod-item(1, 'Букет розовых роз "Розовые грёзы"','12 300 р.','14 300 р.')
	// end sBest