extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug 
include ../blocks/sAdvanteges/_sAdvanteges.pug 
include ../blocks/sCatalog/_sCatalog.pug 
include ../blocks/sThenaticSelections/_sThenaticSelections.pug 
include ../blocks/sBanners/_sBanners.pug 
include ../blocks/sBest/_sBest.pug 
include ../blocks/sStocks/_sStocks.pug 
include ../blocks/sAbout/_sAbout.pug 
include ../blocks/sSocial/_sSocial.pug 
include ../blocks/s-prod-head/_s-prod-head.pug 
include ../blocks/s-prod-body/_s-prod-body.pug 
include ../blocks/s-prod-body/_s-prod-body.pug 
include ../blocks/s-filter/_s-filter.pug 
include ../blocks/sSeo/_sSeo.pug 


block variables
	- let  mainPage= null
block title
	- let  title= 'Монобукеты'
	title= title
block pagecontent 
	+mob-mnu()
	+header()
		+topLine()
		+top-nav()
	+breadcrumb('Главная ','  Букеты ','  Монобукеты ',title )
	.container
		a.btn.btn-accent.link-modal.mb-4.mt-4.modalBasket-js(href="#modal-basket") Товар добавлен в корзину
		//Класс modalBasket-js перезагружает слайдер в модалке

	+footer()
