mixin sContent()
	// start sContent
	+b.SECTION.sContent.section#sContent&attributes(attributes)
		.container
			h3 Выбор товара и добавление в корзину
			h5 Чтобы оформить заказ на интересующее Вас товарное предложение необходимо выполнить простую последовательность действий:
			ul
				li Зайдите в&nbsp;каталог товаров интернет-магазина в&nbsp;главном меню.
				li Перемещаясь по&nbsp;ссылкам, ведущим в&nbsp;те&nbsp;или иные товарные секции, выберите из&nbsp;них интересующую Вас категорию товаров.
				li В&nbsp;правой части страницы находится конфигуратор, при помощи которого можно производить удобный подбор товара по&nbsp;цене и&nbsp;интересующим Вас характеристикам товара. Так&nbsp;же Вы&nbsp;можете воспользоваться выпадающим фильтром, находящимся над списком товарных предложений, для быстрой сортировки предложений по&nbsp;популярности, цене и&nbsp;названию.
				li Для добавления товара в&nbsp;корзину, воспользуйтесь кнопкой &laquo;Добавить в&nbsp;корзину&raquo;.
				li Для быстрого заказ товара без регистрации воспользуйтесь кнопкой &laquo;Купить в&nbsp;один клик&raquo;. После появления всплывающего окна, нужно ввести свой контактный телефон и&nbsp;нажать на&nbsp;кнопку &laquo;Я&nbsp;жду звонка менеджера&raquo;. В&nbsp;ближайшее время наш специалист перезвонит Вам. Если Вы&nbsp;ранее регистрировались на&nbsp;сайте в&nbsp;качестве клиента, то&nbsp;поле телефон уже будет заполнено автоматически.
			h3 Товарная корзина интернет-магазина
			h5 На странице интернет-магазина «Корзина», у Вас есть возможность:
			ul
				li Зайдите в каталог товаров интернет-магазина в главном меню.
				li Перемещаясь по ссылкам, ведущим в те или иные товарные секции, выберите из них интересующую Вас категорию товаров.
			h3 Процесс оформления заказа
			h5 Процесс оформления заказа имеет два варианта в зависимости от того первый раз вы заказываете товар или нет.
			p Если Вы ранее не были клиентом нашего магазина, то при нажатии на кнопку «Оформить заказ» система предложит Вам пройти быструю регистрацию или авторизоваться через социальные сети.
			h3 Процедура регистрации и авторизации
			h5 Процедура регистрации очень проста. Вам требуется ввести свою электронную почту и мобильный телефон и нажать кнопку «Продолжить и войти в корзину» система автоматически создаст пользователя и на указанный Вами электронный адрес Вам придут Ваши учётные данные.
			+e.alert Внимание&nbsp;&mdash; указывайте свои настоящие учётные данные, иначе наш менеджер не&nbsp;сможет связаться с&nbsp;Вами! Свои учётные данные&nbsp;Вы сможете изменить в&nbsp;личном кабинете.
	// end sContent