// мобильное меню

// мобильное меню
$h: em(2);

.toggle-menu-mobile {
	display: block;
	height: $h* 10;
	position: relative;
	color: $primary;
	font-size: 32px;
	cursor: pointer;

	&.on {
		color: #ffffff;
	}

	span:after,
	span:before {
		content: "";
		position: absolute;
		left: 0;
	}

	span {
		@include a-cent(y);
	}

	span:before {


		top: $h * 2;
		width: 8px;
	}
	
	span:after {
		bottom: $h * 2;
		width: 25px;
	}

	span {
		position: relative;
		display: block;
		width: 17px;
	}
 

	span,
	span:after,
	span:before {
		// width: 32px;
		height: 1px;
		background-color: #595959;
		transition: all 0.3s;
		backface-visibility: hidden;
		border-radius: 6px;
	}

	// &.on {
	// 	// opacity: 0;
	// }

	&.on span {
		background-color: transparent;
	}

	&.on span:after,
	&.on span:before {
		width: 25px;
		top: 0;
		bottom: 0;
		transform-origin: 50% 50%;
	}

	&.on span:before {
		transform: rotate(45deg);
	}

	&.on span:after {
		transform: rotate(-45deg);
	}
}

.menu-mobile {
	position: fixed !important;
	z-index: 999;
	max-width: 85%;
	height: 101vh;
	width: 280px;
	top: 0;
	// left: 0;
	right: 0;
	transform: translate(120%, 0);
	@include mt(.6);
	will-change: transform;

	&__inner {
		background-color: #fff;
		padding: 5% 0;
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;
		height: 100%;
	}

	&.active {
		transform: translate(0, 0);

		.toggle-menu-mobile {
			opacity: 1;
		}
	}

	.toggle-menu-mobile {
		// position: relative;
		cursor: pointer;
		margin-left: -15%;
		position: absolute;
		opacity: 0;
		left: 0;
		right: auto;
		color: #FFF;
		top: 10px;
		z-index: 9999;
		background-color: transparent;

		span,
		span:after,
		span:before {
			background-color: #FFF;
		}

		&.on {
			opacity: 1;

			span {
				background-color: transparent;
			}
		}
	}

	ul {
		position: relative;
	}

	li {
		display: block;
		margin: 0;
		border-top: 1px solid rgba(255, 255, 255, .13);
		position: relative;

			a {
				display: flex;
				align-items: center;
				// &:not(:hover),
				// &:not(.link-pink),
				// &:not(.link-green2),
				// {

				// 	color: $body-color;
				// }

				padding: rem(5) 15px;
				.icon {
					font-size: 1rem;
					margin-right: rem(10);
				}
			}
	}
}

.toggle-l {
	position: absolute;
	right: 0px;
	top: 0px;
	width: rem(30);
	height: rem(30);
	// background-color: #000000;
	border: 1px solid $primary;
	display: flex;
	justify-content: center;
	// background-image: url(../i);
	&::after,
	&::before{
		content: '';
		@include a-cent;
		background-color: $primary;

	}
	&::after{
		height: rem(20);
		width:2px;
	}
	&::before{
		height: 2px;
		width: rem(20);
	}
	cursor: pointer;
}