mixin sSeo()
	// start sSeo
	+b.SECTION.sSeo.section#sSeo&attributes(attributes)
		.container
			+b.section-title
				h2 Сео для категории
			p С 2005 года мы постоянно радуем наших клиентов свежими букетами и цветочными композициями. Благодаря огромному опыту работы, наши флористы с первых слов понимают любого клиента. Выслушиваем пожелания, подсказываем, что с нашей точки зрения, будет более интересным вариантом решения Вашей задумки

			p Многие из Вас знают нас, как талантливых декораторов. Одно из основных направлений нашей деятельности – оформление свадеб цветами.
	// end sSeo