mixin sCheckout()
	// start sCheckout
	+b.sCheckout#sCheckout&attributes(attributes)
		.container
			mixin radio(t,n,sm)
				+b.LABEL.custom-radio
					input(type="radio" name= n)&attributes(attributes)
					+e.SPAN.text= t
						if sm
							+e.radioDescr= sm
			mixin in-c2(typ="checkbox", text, name= typ )
				+b.LABEL.custom-input
					+e.INPUT.input(type= typ , name= name)&attributes(attributes)
					+e.SPAN.lab
					+e.SPAN.text= text
			.row
				.col-lg-6
					+e.sliderBlock
						.h3 Дополните букет подарком
						+sCatalog-checkout()
					+e.waterData
						+form-wrap()
							+e.form
								+e.formTitle Заказчик
								.row
									.col-sm-6
										+input('','text','Имя')(required)
									.col-sm-6
										+input('','text','Фамилия')(required)
									.col-12
										+input('','text','Адрес')(required)
									.col-sm-6
										+input('','tel','Телефон')(required)
									.col-sm-6
										+input('','email','E-mail')(required)
								+e.custom-input-wrap
									+in-c2('checkbox','НЕ звонить для подтверждения')
									+in-c2('checkbox','Получаю лично')
							+e.form
								+e.formTitle Получатель
								.row
									.col-sm-6
										+input('','text','Имя')(required)
									.col-sm-6
										+input('','text','Фамилия')(required)
									.col-12
										+input('','text','Адрес')(required)
									.col-sm-6
										+input('','tel','Телефон')(required)
								+e.custom-input-wrap
									+in-c2('checkbox','Вручить инкогнито')
									+in-c2('checkbox','Фото с получателем')
									+in-c2('checkbox','Сюрприз, не звонить заранее')
								+b.LABEL.custom-input-radio
									+e.topLine
										span.row.justify-content-between
											span.col-sm-auto.d-flex
												+e.INPUT.hidden(type="radio" name="size")
												+e.SPAN.lab
												+e.SPAN.text добавить бесплатную открытку
											span.col-sm-auto
												+e.SPAN.characters 70 символов
								+input('','text')(maxlength="70")
								+b.LABEL.custom-input-radio
									+e.topLine
										span.row.justify-content-between
											span.col-sm-auto.d-flex
												+e.INPUT.hidden(type="radio" name="size")
												+e.SPAN.lab
												+e.SPAN.text Добавить дизайнерскую открытку
											span.col-sm-auto
												+e.SPAN.characters 900 символов
								+input('','textarea')(maxlength="900")
							+e.form
								+e.formTitle Доставка и оплата
								.row
									.col-sm-auto
										+input('','date')(placeholder=none)
									.col-sm-auto
										+b.catalog-sort
											+e.SELECT.input.form-control(id="vertical")
												mixin option(t)
													option(value= t)= t
												+option('18:30')
												+option('19:00')
												+option('19:30')
												+option('20:00')
												+option('20:30')
												+option('21:00')
												+option('21:30')
												+option('22:00')
												+option('22:30')
												+option('23:00')
									.col-sm-auto.align-self-end
										+in-c2('checkbox','Добавить в личный календарь')
									.col-sm-auto
										+in-c2('checkbox','Бесконтактная доставка')
								.h5 Доставка
								+e.radioWrap
									+radio('самовывоз Бауманская','delivery')(checked)
									+radio('самовывоз Добрынинская','delivery')
									+radio('Стандартная доставка - 300 р.','delivery')
									+radio('Сторого ко времени - 800 р.','delivery','+/- 8 минут')
									+radio('Аэропорт - 1 500 р.','delivery','Внуково, Домодедово, Шереметьево')
								.h5 Оплата
								+e.radioWrap
									+radio('Он-лайн','payment')(checked)
									+radio('Наличными при получении','payment')
									+radio('Картой при получении','payment')
									+radio('PayPal','payment')
									+radio('Оплата от юр лица','payment','/* Должно быть заполненны данные юр лица в личном кабинете */')
				+e.col.col(data-sticky-container)
					+e.orderWrap(data-sticky data-margin-top="20")
						+e.order
							+e.title
								.h3 Заказ
								+e.totalPrice
									+e.discount 
										span.text-pink купон -5%
										+e.oldPrice 75 800 р.
									.h5 73 800 р.
							+e.coupon
								+form-wrap
									<div class="input-group mb-3">
										<input type="text" class="form-control" placeholder="Купон на скидку" aria-label="Купон на скидку" aria-describedby="button-addon3">
										<button class="btn btn-accent" type="button" id="button-addon3">
											span.d-none.d-sm-block Применить
											span.d-sm-none ОК
										</button>
									</div>
							+e.totalOrder
								mixin orderItem
									+e.orderItem
										.row
											.col-sm-8.d-flex
												+e.imgWrap
													img.lazy.res-i(src="#" data-src="img/@2x/basket.jpg", alt="")
												+e.name КРЕМОВЫЙ БУКЕТ "ШОКОЛАДНЫЙ МИШКА" #[span l 45 см, 2 ШТ]
											.col
												+e.itemPrice
													.h5 24 600 р.
													+e.BUTTON.remove.btn.link-pink(type="button") Убрать из заказа
								+orderItem()
								+orderItem()
								+orderItem()
								+orderItem()
								+orderItem()
								+orderItem()
								+orderItem()
								+orderItem()
								+orderItem()
						+e.buttonBlock
							+e.backToBascket.btn(href="#") Вернуться в корзину
							+e.BUTTON.done.btn.btn-accent(type="button") Оформить заказ


	// end sCheckout