// start .sCheckout
.sCheckout {
	
	padding-top: calc(var(--sPT) - #{rem(57)});
	padding-bottom: var(--sPB);

	&__col {
		max-width: rem(540);
		margin-left: auto;
	}

	&__sliderBlock {
		padding-top: rem(33);
	}

	&__order {
		border: 1px solid rgba($color:#595959, $alpha: 0.5);
		// padding: rem(18) rem(24) rem(24) rem(22);
		overflow: hidden;
		position: relative;
		margin-bottom: rem(28);

		.h5 {
			font-family: $mono;
			margin-bottom: 0;
		}
		
		.h3 {
			font-family: $mono;
			margin-bottom: 0;
			margin-left: -2px;
		}
	}

	&__title {
		display: flex;
		justify-content: space-between;
		padding: rem(18) rem(24) rem(0) rem(22);
	}

	&__totalPrice {
		display: flex;
		align-items: center;
		padding-right: rem(10);
	}

	.input-group  {
		button {
			border-radius: .25rem !important;
		}
	}

	&__discount {
		text-align: center;
		margin-right: rem(26);
		margin-top: rem(-10px);

		span {
			font-size: $xsmall;
			// line-height: 1;
		}
	}

	&__title {
		margin-bottom: rem(14);
	}

	&__oldPrice {
		text-decoration-line: line-through;
		color: #000;
		font-size: $small;
		font-family: $mono;
	}

	&__imgWrap {
		margin-right: rem(24);
		width: rem(64px);
		height: rem(64px);
		flex-shrink: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		overflow: hidden;
	}

	&__itemPrice {
		text-align: center;
	}

	&__remove {
		margin-top: rem(13);
		font-size: $xsmall;
	}

	&__orderItem {
		position: relative;
		padding-bottom: rem(17);
		margin-bottom: rem(22);

		&::before {
			content: '';
			width: 200%;
			height: 1px;
			background-color:#595959;
			position: absolute;
			bottom: 0;
			left: -30%;
			opacity: 0.1;

		}
	}

	&__totalOrder {
		max-height: rem(425);
		padding-left: rem(22);
		margin-bottom: rem(20);
		margin-right: rem(10);
		// padding-right: rem(20);
		overflow-y: auto;
		overflow-x: hidden;
		position: relative;

		scrollbar-width: thin;
		scrollbar-color: $secondary #fff;
		scrollbar-color: $primary #fff;
		
		@include media-breakpoint-up(lg) {

			scrollbar-width: thin;
	 scrollbar-color: $primary #fff;
			
		}
				&::-webkit-scrollbar {
					width: 5px;
					height: 5px;
					background-color: $light;
					/* or add it to the track */
					border-color: $light;
					// opacity: 0;
					// -webkit-box-shadow: none;
				}

				/* Add a thumb */
				&::-webkit-scrollbar-thumb {
					background: $primary;
				}

				&::-webkit-scrollbar-button {
					display: none
				}
	}

	&__coupon {
		position: relative;
		padding-bottom: rem(9);
		padding-right: rem(22);
		margin-left: rem(22);
		margin-bottom: rem(24);

		&::before {
			content: '';
			width: 200%;
			height: 1px;
			position: absolute;
			bottom: 0;
			left: -30%;
			background-color: #595959;
		}
	}

	&__buttonBlock {
		display: flex;
		justify-content: space-between;
	}

	&__backToBascket {
		white-space: nowrap;
		padding: rem(11) rem(15);
		margin-top: rem(-3);
		display: flex;
		align-items: center;
		justify-content: center;
		border: solid 1px #5cbf1a;
		font-weight: 600;

		&:hover {
			color: $green2;
		}
	}

	.form-wrap {

		&__formTitle {
			@extend .h3;
		}

		&__custom-input-wrap {
			display: flex;
		}

	}

	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-up(xs) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(xs) {}
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}
	@include media-breakpoint-down(xs) {} 

	.form-wrap__radioWrap {
		// display: flex;
		// flex-wrap: wrap;
	}

	.custom-radio {
		display: inline-block;
		width: auto;
		&__text {
			// height: calc(100% - 16px);
			// margin-bottom: rem(16);
			width: auto;
			display: inline-block;
			margin-right: rem(15px);
		}

		&__radioDescr {
			font-size: $xsmall;
			opacity: 0.5;
			display: block;
		}

		&__input[type="checkbox"] + &__lab {

		}
	}

	.custom-input {
		&__lab {
			border: 1px solid #000000;
			background-color: #fff;

			&::after {
				// padding: 2px;
				width: 100%;
				height: 100%;

			}
		}

		.custom-input__input:checked+.custom-input__lab {
			background-color: #fff;
			&::after {
				// content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' color='#8BB710' width='13' height='8' viewBox='0 0 448 512'%3E%3Cpath fill='%23fff' d='M413.505 91.951L133.49 371.966l-98.995-98.995c-4.686-4.686-12.284-4.686-16.971 0L6.211 284.284c-4.686 4.686-4.686 12.284 0 16.971l118.794 118.794c4.686 4.686 12.284 4.686 16.971 0l299.813-299.813c4.686-4.686 4.686-12.284 0-16.971l-11.314-11.314c-4.686-4.686-12.284-4.686-16.97 0z' class='st0'/%3E%3C/svg%3E");
				// content: url('../img/svg/check.svg');
				content: '';
				background-image: url('../img/svg/check.svg');
				background-position: center;
				background-repeat: no-repeat;
			}
		}
	}
} // end.sCheckout

.custom-input-radio {
	&__hidden {
		@extend .invisible;
	}

	.custom-input-radio__hidden:checked ~ .custom-input-radio__lab {
		&::before {
			opacity: 1;
		}
	}

	&__lab {
		cursor: pointer;
		border: 1px solid #000000;
		border-radius: 50%;
		display: block;
		width: rem(24px);
		height: rem(24px);
		margin-right: rem(15);
		position: relative;

		&::before {
			content: '';
			@include mt;
			width: rem(16px);
			height: rem(16px);
			background-color: $primary;
			@include a-cent;
			border-radius: 50%;
			opacity: 0;
		}
	}

	&__topLine {
		margin-bottom: rem(17);
		display: block;
	}

	&__characters {
		color: $green3;
		font-size: $xsmall;
	}

	margin-bottom: rem(20);
}