// start .sCheckout
.sCheckout {
	
	padding-top: calc(var(--sPT) - #{rem(57)});
	padding-bottom: var(--sPB);

	&__col {
		@include media-breakpoint-up(lg) {
			max-width: 32.75rem;
		}
		@include media-breakpoint-up(xxl) {
			max-width: rem(540);
		}
		margin-left: auto;
		position: relative;
		@include media-breakpoint-down(lg) {
			margin-right: auto;
		}
	}

	&__order {
		border: 1px solid rgba($color:#595959, $alpha: 0.5);
		// padding: rem(18) rem(24) rem(24) rem(22);
		overflow: hidden;
		position: relative;
		margin-bottom: rem(28);

		.h5 {
			font-family: $mono;
			margin-bottom: 0;
		}
		
		.h3 {
			font-family: $mono;
			margin-bottom: 0;
			margin-left: -2px;
		}
	}

	&__title {
		display: flex;
		justify-content: space-between;
		padding: rem(18) rem(24) rem(0) rem(22);
		padding-bottom: rem(14);
		margin-bottom: rem(14);
		position: relative;

		&::before {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 150%;
			height: 1px;
			background-color: #595959;
		}

	}

	&__totalPrice {
		display: flex;
		align-items: center;
		padding-right: rem(10);
	}

	.input-group  {
		button {
			border-radius: .25rem !important;
		}
	}

	&__discount {
		text-align: center;
		margin-right: rem(26);
		margin-top: rem(-10px);

		span {
			font-size: $xsmall;
			// line-height: 1;
		}
	}

	&__oldPrice {
		text-decoration-line: line-through;
		color: $body-color;
		font-size: $small;
		font-family: $mono;
	}

	&__imgWrap {
		margin-right: rem(24);
		width: rem(64px);
		height: rem(64px);
		flex-shrink: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		overflow: hidden;
	}

	&__itemPrice {
		text-align: center;
		@include media-breakpoint-down(sm) {
			padding-top: rem(10);
		}
	}

	&__remove {
		@include media-breakpoint-up(sm) {
			margin-top: rem(13);
		}
		font-size: $xsmall;
	}

	&__orderItem {
		position: relative;
		padding-bottom: rem(10);
		margin-bottom: rem(10);
		@include media-breakpoint-up(sm) {
			padding-bottom: rem(17);
			margin-bottom: rem(22);
		}

		&::before {
			content: '';
			width: 200%;
			height: 1px;
			background-color:#595959;
			position: absolute;
			bottom: 0;
			left: -30%;
			opacity: 0.1;

		}
	}

	&__name {
		color: #595959;

		span {
			color: $body-color;
		}
	}

	&__totalOrder {
		max-height: rem(425);
		padding-left: rem(22);
		margin-bottom: rem(20);
		margin-right: rem(10);
		// padding-right: rem(20);
		overflow-y: auto;
		overflow-x: hidden;
		position: relative;

		scrollbar-width: thin;
		scrollbar-color: $secondary #fff;
		scrollbar-color: $primary #fff;
		
		@include media-breakpoint-up(lg) {

			scrollbar-width: thin;
	 scrollbar-color: $primary #fff;
			
		}
				&::-webkit-scrollbar {
					width: 5px;
					height: 5px;
					background-color: $light;
					/* or add it to the track */
					border-color: $light;
					// opacity: 0;
					// -webkit-box-shadow: none;
				}

				/* Add a thumb */
				&::-webkit-scrollbar-thumb {
					background: $primary;
				}

				&::-webkit-scrollbar-button {
					display: none
				}
	}

	&__coupon {
		position: relative;
		padding-bottom: rem(9);
		padding-right: rem(22);
		margin-left: rem(22);
		margin-bottom: rem(24);

		&::before {
			content: '';
			width: 200%;
			height: 1px;
			position: absolute;
			bottom: 0;
			left: -30%;
			background-color: #595959;
		}

		.form-control {
			border-color: rgba($color: #595959, $alpha: 0.1);
		}
	}

	&__buttonBlock {
		display: flex;
		justify-content: space-between;
	}

	&__backToBascket {
		white-space: nowrap;
		padding: rem(11) rem(15);
		margin-top: rem(-3);
		display: flex;
		align-items: center;
		justify-content: center;
		border: solid 1px #5cbf1a;
		font-weight: 600;

		&:hover {
			color: $green2;
		}
	}

	.form-wrap {

		&__form {
			padding-bottom: rem(8);
		}

		&__formTitle {
			@extend .h3;
			font-family: $mono;
			margin-bottom: rem(25);
		}

		&__custom-input-wrap {
			// @include media-breakpoint-up(sm) {
			// 	display: flex;
			// }
		}
	}

	textarea {
		height: rem(112px);
	}

	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-up(xs) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(xs) {}
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}
	@include media-breakpoint-down(xs) {} 

	.catalog-sort__input {
		@include media-breakpoint-down(sm) {
			width: 100%;
		}
	}

	.custom-radio {
		@include media-breakpoint-up(sm) {
			display: inline-block;
		}
		width: auto;
		&__text {
			text-align: left;
			@include media-breakpoint-up(sm) {
				width: auto;
				display: inline-block;
			}
			margin-right: rem(15px);
		}

		&__radioDescr {
			font-size: $xsmall;
			opacity: 0.5;
			display: block;
		}

	}

	.custom-input {
		display: inline-block;
		width: auto;
		margin-left: 0;
		margin-top: 0;
		margin-right: rem(25);
		margin-bottom: 1.5rem;
		@include media-breakpoint-up(xl) {
			margin-bottom: 2.5rem;
		}
		&__lab {
			border: 1px solid $body-color;
			background-color: #fff;
			top: 0;

			&::after {
				// padding: 2px;
				width: 100%;
				height: 100%;

			}
		}

		.custom-input__input:checked+.custom-input__lab {
			background-color: #fff;
			&::after {
				// content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' color='#8BB710' width='13' height='8' viewBox='0 0 448 512'%3E%3Cpath fill='%23fff' d='M413.505 91.951L133.49 371.966l-98.995-98.995c-4.686-4.686-12.284-4.686-16.971 0L6.211 284.284c-4.686 4.686-4.686 12.284 0 16.971l118.794 118.794c4.686 4.686 12.284 4.686 16.971 0l299.813-299.813c4.686-4.686 4.686-12.284 0-16.971l-11.314-11.314c-4.686-4.686-12.284-4.686-16.97 0z' class='st0'/%3E%3C/svg%3E");
				// content: url('../img/svg/check.svg');
				content: '';
				background-image: url('../img/svg/check.svg');
				background-position: center;
				background-repeat: no-repeat;
			}
		}
	}
} // end.sCheckout

.custom-input-radio {
	&__hidden {
		@extend .invisible;
	}

	.custom-input-radio__hidden:checked ~ .custom-input-radio__lab {
		&::before {
			opacity: 1;
		}
	}

	&__lab {
		cursor: pointer;
		border: 1px solid $body-color;
		border-radius: 50%;
		display: block;
		width: 24px;
		height: 24px;
		margin-right: rem(15);
		position: relative;

		&::before {
			content: '';
			@include mt;
			width: 16px;
			height: 16px;
			background-color: $primary;
			@include a-cent;
			border-radius: 50%;
			opacity: 0;
		}
	}

	.d-flex {
		align-items: center;
	}

	&__topLine {
		margin-bottom: rem(17);
		display: block;
	}

	&__characters {
		color: $green3;
		font-size: $xsmall;
	}

	margin-bottom: rem(20);
}

.sliderBlock {
	padding-top: rem(33);
	margin-bottom: rem(50);

	.h3 {
		letter-spacing: rem(1.8) !important;
		font-family: $mono;
		margin-bottom: rem(27);
	}
}

.sCheckout--new {
	.orderStep {
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-bottom: solid 1px #595959;
		padding-bottom: rem(30);

		&__numb {
			margin-right: rem(28);
			&::before {
				display: none;
			}
		}

		&__text {
			@extend .h3;
			margin-bottom: 0;
			@extend .mono;
		}

		&__iconWrap {
			cursor: pointer;
			margin-left: auto;
		}
	}//orderStep

	.tabs {
		&__homeCol {
			.custom-input {
				margin-bottom: 0 !important;
				@include media-breakpoint-down(md) {
					margin-top: rem(10);
				}
			}
		}
	}//tabs

	.custom-radio {
		display: block !important;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		&__infoHidden {
			@include mt;
			position: absolute;
			left: 0;
			bottom: 100%;
			width: 300px;
			padding: 5px;
			@include media-breakpoint-up(lg) {
				padding: 10px;
			}
			transform: scale(0);
			transform-origin: left bottom;
			background-color: #fff;
			border: solid 1px $primary;
			border-radius: $border-radius;
		}

		&__text {
			display: flex !important;
			align-items: center;
			justify-content: space-between;
			width: 100% !important;
		}

		&__infoBlock {
			flex-shrink: 0;
			margin-right: auto;
			position: relative;
			display: grid;
			place-items: center;
			margin-left: 5px;
			color: $green2;
			font-size: 12px;
			background: #E6E6E6;
			width: 16px;
			height: 16px;
			border-radius: 50%;
			flex-shrink: 0;

			&:hover, &:focus, &:active {
				.custom-radio__infoHidden {
					transform: scale(1);
				}
			}
		}

		&__textWrap {
			width: 100%;
		}

		&__radioTitle {
			display: flex;
			align-items: center;
		}

		&__selectBlock {
			display: flex;
		}

		&__deliveryPrice {
			background: rgba(73, 134, 32, 0.2);
			border-radius: 3px;
			color: #498620;
			height: 100%;
			min-height: rem(39px);
			width: 80px;
			display: flex;
			justify-content: center;
			align-items: center;
			text-transform: uppercase;
		}

		.form-control {
			flex-shrink: 0;
			padding: 5px;
			width: 40px;
			// max-height: 40px;
			min-height: rem(39px);
			margin-right: rem(4);
			color: #498620;
			border-radius: 3px;
			background-color: #E9E9E9;
			background-image: url('../img/svg/chevron-down.svg');
			background-position: 90% center;
			background-repeat: no-repeat;
		}
	}//custom-radio

	.catalog-sort {
		position: relative;
		&::before {
			content: '';
			position: absolute;
			left: 10px;
			@include a-cent(y);
			width: 24px;
			height: 24px;
			background-image: url('../img/svg/clock.svg');
			background-position: center;
			background-size: 100%;
			background-repeat: no-repeat;
		}
		&__input {
			width: 100%;
			padding-left: rem(50);
			background-image: url('../img/svg/chevron-down.svg');
			background-position: 95% center;
			background-repeat: no-repeat;
		}
	}//catalog-sort

	.form-wrap {

		&__form {
			@include media-breakpoint-up(sm) {
				padding-bottom: rem(40);
			}
		}
		&__freeShipping {
			font-size: $xsmall;
			margin-bottom: rem(15);
		}

		&__radioWrap {
			.custom-radio {
				display: inline-block !important;
				width: auto;
				margin-right: rem(15);

			}
		}

		&__contentIner {
			@include media-breakpoint-up(xl) {
				max-width: 784px;
			}
		}
	}//form-wrap
	
	.orderButton__back {
		@include media-breakpoint-up(sm) {
			width: auto;
		}
	}

	.orderButton--lastbuttons {
		border-top: solid 1px #000;
		padding-top: rem(30);
		@include media-breakpoint-down(lg) {
			margin-bottom: rem(30);
		}

		.orderButton__next {
			@include media-breakpoint-down(sm) {
				margin-bottom: rem(20);
				display: block;
				width: 100%;
			}
		}
	}
}